<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/json-app-log.json</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <logger name="com.ra.session09" level="DEBUG" additivity="false">
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
    </root>

</configuration>
